.selectStyle{
    background: white;
    font-size: 14px;
}
.sweetAlertCenter{
    left: 47%!important;
    top: 41%!important;
    width: 630px !important;
}
.fontSizeLabel{
    font-size: 15px;
}
.floatButton{
    float: right;
}
#ifmcontentstoprint{
    width:100%;
    border: 1px solid;
    border-radius: 12px;
    padding: 20px;
    height: 370px;
}
head title{
    display: hidden;
}
.positionLeft{
    float:left;
}
.positionRight{
    float: right;
}
canvas{
    height: 100px !important;
    width: 100px !important;
    margin-bottom: 10px;
}
/* .barCodeWidth > svg {
    width: 120px !important;
} */
.table-wrap td:first-child{
    text-transform: capitalize !important;
    font-weight: bold;
}
.row{
    flex-wrap: unset !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.form-group{
    padding-right: 10px !important;
}
.searchBox{
    font-size: 14px;
    width: 230px;
}
._3vt7_Mh4hRCFbp__dFqBCI{
    font-size: 15px;
}
._3vLmCG3bB3CM2hhAiQX1tN {
    position: fixed;
    width: 21%;
    background: #fff;
    border-radius: 4px;
    margin-top: 1px;
    z-index: 2;
}
._2OR24XnUXt8OCrysr3G0XI {
    border: 1px solid #ece7e7 !important;
    padding-left: 17px !important;
    padding-bottom: 1px !important;
    width: 303px !important;
}
.linearProgressCustom {
    margin-top: 115px;
    padding: 0 130px;
}
