.selectStyle{
    background: white;
    font-size: 14px;
}
.sweetAlertCenter{
    left: 47%!important;
    top: 41%!important;
    width: 670px !important;
}
.fontSizeLabel{
    font-size: 15px;
}
.floatButton{
    float: right;
}
#ifmcontentstoprint{
    width:100%;
    border: 1px solid;
    border-radius: 12px;
    padding: 20px;
    height: 370px;
}
head title{
    display: hidden;
}
.positionLeft{
    float:left;
}
.positionRight{
    float: right;
}
canvas{
    height: 100px !important;
    width: 100px !important;
    margin-bottom: 10px;
}
/* .barCodeWidth > svg {
    width: 120px !important;
} */
.table-wrap td:first-child{
    text-transform: capitalize !important;
    font-weight: bold;
}