.sweetAlertFormCenterCustom{
    left: 53% !important;
    top: 38% !important;
}
.sweetAlertFormCenterCustomOut{
    left: 53% !important;
    top: 50% !important;
}
.sweetAlertMarginTop{
    top: 62% !important;
    left: 53% !important;
}
.sweetAlertMarginTop2{
    top: 60% !important;
    left: 53% !important;
}
